* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: #ecf2f8;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 10px;
  margin: 40px auto;
  width: 85%;
  max-width: 400px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .image {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  height: 200px;
  min-height: 200px;
}

.container .image img {
  width: 100%;
  margin-top: -20px;
  min-height: 200px;
}

.container .content {
  padding: 20px 30px;
}

.container .content h3 {
  color: #48556a;
  margin: 15px 0;
  font-size: 16px;
}

.container .content p {
  color: #6d7f97;
  margin-bottom: 30px;
  line-height: 1.7;
}

.container .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.container .author .author-icon img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.container .author .name-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  height: 40px;
}

.container .author .name-date .author-name {
  font-weight: 700;
  color: #48556a;
}

.container .author .name-date .date {
  color: #9eafc2;
}

.container .author .share-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ecf2f8;
}

@media only screen and (min-width: 1025px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 730px;
  }
  .container .image {
    min-height: 100%;
    height: 270px;
    border-radius: 10px 0 0 10px;
  }
  .container .image img {
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0;
  }
  .container .content {
    padding: 15px 30px;
    min-height: 100%;
  }
  .container .content h3 {
    font-size: 1.3rem;
  }
  .container .content p {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */